* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif

}

body {
min-height: 100vh;
display: flex;
justify-content: center;
align-items: left;
}

Form input
{
margin: 2px;
padding: 6px;
}

body {
    background-image: url("pink.gif");
}